/* CSS Reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    user-select: none;
    /* color:White; */
  
}

html, body{
    height: 100%;
    width:100%;
}

/* Css Variables */
:root{
    --primary : #0249b4;
    /* --primary: #ffc107; */
}

/* Css */
.nav-link, .nav-link .btn{
    margin:0 10px;
}

.overlay{
    height:92vh;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.712);
    /* backdrop-filter: blur(10px); */
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1rem;
    color:white;
}

#landing{
    z-index:1;
    background-image: url("../images/LandingBg.jpg");
    height:92vh;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#landing #head{
    text-transform: uppercase;
    color:var(--primary);
    font-size: 3rem;
    font-weight: bold;
}

h2{
    color: #0d6efd;
}

/* section for more about code adapt */
.learn a{
    text-decoration: none; 
    color: rgb(54, 53, 53)!important;
     transition: .1s;
     font-size: 18px!important;
  }
  .navbar{
    z-index: 1!important;
    /* position: relative; */
  }
  .learn a:hover{
   
     border-bottom: 2px solid rgb(126, 124, 124);
     color: rgb(67, 69, 70);
  }

  .row .tp{
    text-align: center;
 width: 83%;
 }
 .prot{
   font-weight: 200;
   font-size: 35px;
 }
 .rot{
   font-size: 20px;

 }
 .ty{
   text-align: right!important;
 }
 .tl{
   text-align: left!important;
 }

 .mpl{
   padding-top: 160px;
 }
 .about-image{
   min-width: 100;
   height: 30px;
 }

/* footer */
.sie{
    background-color: #222;
    color: aliceblue;
}

/* timeline  */
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900);
html {
  --background: #212226;
  --primary: #00af41;
  --line: #a6a7b5;
}

/* body {
  background: var(--background);
  font-family: Montserrat;
  letter-spacing: 0.08em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

article {
  padding: 0.25rem 0.5rem 0 1rem;
  background: var(--background);
}

dl {
  display: grid;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-template-rows: auto auto;
}
dl .cell {
  grid-column: span 2;
  display: flex;
  padding: 0 1rem;
}
dl .cell:nth-child(2) {
  grid-column: span 3;
  justify-content: flex-end;
}
dl .cell .cell-content {
  display: inline-flex;
  flex-direction: column;
  border-left: 1px dashed var(--line);
  position: relative;
  background: var(--background);
}
dl .cell .cell-content::after {
  content: "";
  display: block;
  background: var(--line);
  height: 0.5rem;
  width: 0.5rem;
  position: absolute;
  left: -0.25rem;
  border-radius: 50%;
}
dl .cell .cell-content dt {
  background: var(--background);
  color: var(--primary);
  padding-bottom: 0.25em;
  position: relative;
  left: -0.25rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}
dl .cell .cell-content dd {
  background: var(--background);
  margin: 0;
  position: relative;
  left: -0.25rem;
  color: #f4f4f6;
}
dl .cell:nth-child(odd) .cell-content {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--line);
}
dl .cell:nth-child(odd) .cell-content::after {
  bottom: -0.25rem;
}
dl .cell:nth-child(odd) .cell-content dd:last-child {
  padding-bottom: 0.5rem;
}
dl .cell:nth-child(even) .cell-content {
  padding-top: 1rem;
  position: relative;
  top: -1px;
  border-top: 1px solid var(--line);
}
dl .cell:nth-child(even) .cell-content::after {
  top: -0.25rem;
}
dl .cell:nth-child(even) .cell-content dt {
  padding-top: 0.5rem;
}
dl .cell:nth-child(even) .cell-content dd {
  flex-grow: 1;
}
dl .cell:last-child .cell-content {
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.timeline{
  margin-left: 32%;
  margin-right: 32%;
}

/* testimonial */
/* body,
html {
  width:100%;
  height:100%;
}

body {
  margin:0;
  font-size:100%;
  background:rgba(14, 24, 33, 0.95);
  font-family:'Sentinel A', 'Sentinel B', Georgia, serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
/* } */

.wrapper {
  position:relative;
  transform:translateY(-50%);
  top:50%;
  margin: 0 auto;
  width:75%;
  /* overflow:hidden; */
}

.wrapper p {
  position:absolute;
  /* left:100%; */
  width:100%;
  font-size:2em;
  /* color:#ffffff; */
  top:0;
  cursor:pointer;
  opacity:0;
  transition:left 1.4s, opacity .5s ease;
}

.wrapper p.activeText {
  position:relative;
  left:0;
  opacity:1;
}

.wrapper p.slideLeft {
  left:-100%;
  opacity:0;
}

.wrapper p:before {
  content:"\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

.wrapper p:after {
  content:"\201D";
  font-size: 3em;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.45em;
}

ul {
  margin:0;
  padding:0;
  /* text-align:center; */
}

ul li {
  list-style:none;
}
.dot {
  width:10px;
  height:10px;
  border-radius:100px;
  background:#7f8c8d;
  display:inline-block;
  /* text-lign:center; */
  cursor:pointer;
}

/* .active {
  background:#ecf0f1;
} */


#testimonial{
  background-image: url("../images/Testimonial.jpg");
  background-size: cover;
  background-blend-mode:hard-light;
}

/*--------------------------------------------------------------

# Gallery
--------------------------------------------------------------*/
.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #454035;
  border-bottom: 3px solid #454035;
}
.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
}
.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

section {
  overflow: hidden;
}


.section-title {
  padding-bottom: 40px;
}
.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #b4b4b4;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
}

@media(max-width:729px){
  .gallery .gallery-item{
    /* width:45%; */
  }
  .gallery .gallery-item img{
    width:100%;
  }
}

#gal{
  background-image: url("../images/Testimonial.jpg");
  background-size: cover;
}

/*-------------------------------------------------------------- */

@media (max-width: 991.98px) { 
    .ty,.tl{
 text-align: center!important; }
 }

 
/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
}
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #0563bb;
  position: relative;
}
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #0563bb;
  margin-bottom: 10px;
}
.resume .resume-item h5 {
  font-size: 16px;
  background: #f7f8f9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.resume .resume-item ul {
  padding-left: 20px;
}
.resume .resume-item p{
  color:white;
} 
.resume .resume-item ul li {
  padding-bottom: 10px;
}
.resume .resume-item:last-child {
  padding-bottom: 0;
}
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #0563bb;
}

.coorganizers img{
  height:100px;
}

@media(max-width:797px){
  .coorganizers img{
    height:75px;
  }
}

@media(max-width:479px){
  .coorganizers{
    flex-direction: column-reverse;
  }
  .coorganizers img{
    margin-top:20px;
  }
}

#whatnext{
  background-image: url("../images/Code.jpg");
  background-size: cover;
}

#overlay{
  background:rgba(0, 0, 0, 0.85  );
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}
.contact .info i {
  font-size: 20px;
  background: var(--primary);
  color:white;
  float: left;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #151515;
}
.contact .info h6 {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  /* font-size: 14px; */
  color: #484848;
}
.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}
.contact .php-email-form {
  width: 100%;
  background: #fff;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: var(--primary);
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type=submit] {
  background: var(--primary);
  border: 0;
  padding: 10px 24px;
  color: white;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .php-email-form button[type=submit]:hover {
  background: var(--primary);
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
